.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.space {
  width: 60px;
  height: 60px;
  border: solid 1px rgba(187, 187, 187, 0.465);
  margin: 0.1em;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
}

.front {
  position: absolute;
  border-color: rgb(187, 187, 187);
  animation: flip 0.5s forwards ease-in;
}

.back {
  transform: rotateX(90deg);
  animation: flip 0.5s 0.5s forwards ease-out reverse;
}

.back.green {
  background-color: green;
  border-color: green;
}

.back.yellow {
  background-color: orange;
  border-color: orange;
}

.back.grey {
  background-color: grey;
  border-color: grey;
}

.space.filled {
  animation: pressed 0.2s ease-in-out forwards;
}

.space.front.pos-1 {
  animation-delay: 0.2s;
}

.space.front.pos-2 {
  animation-delay: 0.4s;
}

.space.front.pos-3 {
  animation-delay: 0.6s;
}

.space.front.pos-4 {
  animation-delay: 0.8s;
}

.space.back.pos-1 {
  animation-delay: 0.7s;
}

.space.back.pos-2 {
  animation-delay: 0.9s;
}

.space.back.pos-3 {
  animation-delay: 1.1s;
}

.space.back.pos-4 {
  animation-delay: 1.3s;
}

@keyframes pressed {
  0% {
    transform: scale(1);
  }
  50% {
    border-color: rgb(187, 187, 187);
    transform: scale(1.2);
  }
  100% {
    border-color: rgb(187, 187, 187);
    transform: scale(1);
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  45% {
    transform: rotateX(0deg);
  }
  55% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
