.welcome-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.welcome-heading {
  font-family: "Graduate", cursive;
  font-size: 2rem;
  margin: 0;
}

.welcome-button {
  margin: 0 0.5em;
  padding: 1em 1.5em;
  width: 120px;
  color: #008e88;
  border: solid 1.5px white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.welcome-button:hover {
  border: solid 1.5px #008e88;
  background-color: #008e88;
  color: white;
}

.welcome-button.inverted {
  background: none;
  border: solid 1.5px white;
  color: white;
}

.welcome-button.inverted:hover {
  border-color: #008e88;
  background-color: #008e88;
  color: white;
}

#welcome-row .space {
  width: 70px;
  height: 70px;
  border: solid 1px rgba(255, 255, 255, 0.6);
  margin: 0.1em;
  text-align: center;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

#welcome-row .space--back {
  border: none;
}

.space--front.pos-5 {
  animation-delay: 1s;
}

.space--back.pos-5 {
  animation-delay: 1.5s;
}

@media (max-width: 550px) {
  #welcome-row .space {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  #welcome-row .space {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  #welcome-row .space {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.75rem;
  }
}
