.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 0.6em;
  margin: 0.6em;
}

.keyboard-letter {
  background-color: grey;
  border-radius: 5px;
  width: 35px;
  height: 45px;
  line-height: 45px;
  font-size: 1.2rem;
}

.keyboard-letter.green {
  background-color: green;
}

.keyboard-letter.yellow {
  background-color: orange;
}

.keyboard-letter.grey {
  background-color: rgb(81, 81, 81);
}
