.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin: 0.5em;
}

.keyboard-letter {
  background-color: grey;
  border-radius: 5px;
  width: 2.5rem;
  height: 3.125rem;
  line-height: 3.125rem;
  font-size: 1rem;
  cursor: pointer;
}

.keyboard-letter.enter,
.keyboard-letter.del {
  width: 3.95rem;
}

.keyboard-letter.green {
  background-color: green;
}

.keyboard-letter.yellow {
  background-color: orange;
}

.keyboard-letter.grey {
  background-color: rgb(81, 81, 81);
}
