.feedback-container {
  position: absolute;
  z-index: 5;
  background-color: white;
  color: black;
  right: 0;
  left: 0;
  top: 110px;
  max-width: 155px;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  animation: fade 1s forwards, fade 0.5s 1s forwards reverse;
}

.feedback-container.persist {
  animation: fade 1s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
