.feedback-container {
  position: absolute;
  z-index: 5;
  background-color: white;
  color: black;
  right: 0;
  left: 0;
  top: 10%;
  max-width: 155px;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}
