.feedback-container {
  position: absolute;
  z-index: 5;
  width: fit-content;
  background-color: white;
  color: black;
  right: 0;
  left: 0;
  top: 3%;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
}
