@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
}

@media (max-height: 750px) {
  html {
    font-size: 15px;
  }
}

@media (max-height: 700px) {
  html {
    font-size: 14px;
  }
}
